<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /pnbtc/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

# Allow access to CSS and other necessary files
<FilesMatch "\.(css|js|png|jpg|gif)$">
    Require all granted
</FilesMatch>
